<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar *ngIf = "categoryImage"> 
         <img [src] = "categoryImage"> 
      </div>

      <mat-card-title>
        <select value= {{category}} [(ngModel)]="cat">
            <option value= {{category}}> {{category}}</option>
            <option value="tech">tech</option>
            <option value="business">business</option>
            <option value="politic">politic</option>
            <option value="entertainment">entertainment</option>
            <option value="sport">sport</option>
          </select>
    </mat-card-title> 

      <mat-card-subtitle>classification result</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{classifyService.doc}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <!--<button mat-button>Save</button>-->
      <button mat-raised-button [routerLink]="'/articles'" color="primary" (click)="myFunc(cat)">Save to firestore</button>
    </mat-card-actions>
  </mat-card>
  
 
