<!--this form displays data from json-->

<!--<div ng-controller="myCtrl">
 <p>{{ans}}</p>
</div> -->
<mat-accordion>
    <mat-expansion-panel *ngFor = "let main of mains$">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{main.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      <span *ngFor="let photo of photos$">
       <span *ngIf = "photo.id == main.id;other"> {{photo.title}} <button 
        mat-raised-button color="primary"
        [routerLink]="'/todos/'" (click)="todoFunc(photo.title,photo.completed)">
          Save
        </button> </span>
      </span>
       
    </mat-expansion-panel>
  </mat-accordion>

