<mat-card>
    <h1>New general</h1>
    <form #generalForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field>
            <input 
                matInput placeholder="General title"
                [(ngModel)] = "title"
                name = "title">
        </mat-form-field> 

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date"
          [(ngModel)] = "date" name = "date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Location" [(ngModel)] = "room" name = "room" >
            <mat-option *ngFor = "let room of rooms" [value]="room.name">{{room.name}}</mat-option>
          </mat-select>
        </mat-form-field>

       <!-- <mat-form-field>
          <input 
              matInput placeholder="General date"
              [(ngModel)] = "date"
              name = "date">
      </mat-form-field> -->

       <!-- <mat-form-field>
                <input 
                    matInput placeholder="General author"
                    [(ngModel)] = "author"
                    name = "author">
        </mat-form-field> -->                  
        <div >
            <button mat-raised-button color="primary" [disabled]="!generalForm.form.valid">{{buttonText}}</button>
            <button mat-raised-button [routerLink]="'/generals'" >Cancel</button>
        </div>
      </div>
    </form>
    </mat-card>
